syntax: glob
.DS_Store
vbap-u.xcodeproj/kristof.mode1
vbap-u.xcodeproj/kristof.mode1v3
vbap-u.xcodeproj/kristof.pbxuser
vbap.xcodeproj
build
Win/Win32/
Win/x64/
Win\vbap.v12.suo
SDK/MaxSDK-5
SDK/OSX/45
SDK/OSX/46
vbap.sdf
SDK/Win
SDK/MaxSDK-6.1.4/MaxAPI-6.1.4.html
SDK/MaxSDK-6.1.4/MaxAPI-6.1.4.pdf
vbap-x1.01.zip
VBAP-Objects/OSX/MaxMSP 5/define_loudspeakers.mxo/Contents/Info.plist
VBAP-Objects/OSX/MaxMSP 5/define_loudspeakers.mxo/Contents/PkgInfo
VBAP-Objects/OSX/MaxMSP 5/define_loudspeakers.mxo/Contents/MacOS/define_loudspeakers
VBAP-Objects/OSX/MaxMSP 5/vbap.mxo/Contents/Info.plist
VBAP-Objects/OSX/MaxMSP 5/vbap.mxo/Contents/PkgInfo
VBAP-Objects/OSX/MaxMSP 5/vbap.mxo/Contents/MacOS/vbap
VBAP-Objects/WinXP/MaxMSP 5/define_loudspeakers.mxe
VBAP-Objects/WinXP/MaxMSP 5/vbap.mxe
