syntax: glob
.DS_Store
vbap-u.xcodeproj/kristof.mode1
vbap-u.xcodeproj/kristof.mode1v3
vbap-u.xcodeproj/kristof.pbxuser
vbap.xcodeproj
build
Win/Win32/
Win/x64/
Win\vbap.v12.suo
SDK/MaxSDK-5
SDK/OSX/45
SDK/OSX/46
vbap.sdf
SDK/Win
SDK/MaxSDK-6.1.4/MaxAPI-6.1.4.html
SDK/MaxSDK-6.1.4/MaxAPI-6.1.4.pdf
