
// Xcode target configuration settings for the Max 6 SDK
// Used as the basis for Xcode projects to build Max externals.
//
// Changes to the settings in this file will be applied to all SDK examples
// To change settings for only one of the examples, override the settings using
// Xcode's target inspector.
//
// by Timothy Place
// Copyright © 2011, Cycling '74

// Name & Version
//PRODUCT_NAME = $(PROJECT_NAME)
//PRODUCT_VERSION = 6.0.0


// Paths
C74SUPPORT = /Users/kristof/Desktop/Projets/AppliMax/Cycling/SDKInUse/MaxSDK-6.1/c74support
HEADER_SEARCH_PATHS = "$(C74SUPPORT)/max-includes" "$(C74SUPPORT)/msp-includes" "$(C74SUPPORT)/jit-includes"
FRAMEWORK_SEARCH_PATHS = "$(C74SUPPORT)/max-includes" "$(C74SUPPORT)/msp-includes" "$(C74SUPPORT)/jit-includes"
DSTROOT = ~/Desktop/Projets/Maximus/Objets/Max6/mxo
// (This next path is relative to DSTROOT)
INSTALL_PATH = /

ARCHS = i386 x86_64

// Special Files
//GCC_PREFIX_HEADER = $(C74SUPPORT)/max-includes/macho-prefix.pch
//GCC_PREFIX_HEADER = cka-prefix.pch
//INFOPLIST_FILE = $(SRCROOT)/../Info-$(PROJECT_NAME).plist

// Architecture and Deployment
//ARCHS = i386
//SDKROOT = /Developer/SDKs/MacOSX10.6.sdk
MACOSX_DEPLOYMENT_TARGET = 10.6

// Preprocessor Defines
GCC_PREPROCESSOR_DEFINITIONS = "DENORM_WANT_FIX = 1" "NO_TRANSLATION_SUPPORT = 1"

// Static Configuration (don't change these)
WRAPPER_EXTENSION = mxo;
WARNING_CFLAGS = -Wmost -Wno-four-char-constants -Wno-unknown-pragmas
DEPLOYMENT_LOCATION = YES
GENERATE_PKGINFO_FILE = YES


// Flags to enforce some build-time checks for the symbols used while not actually performing a hard link
C74_SYM_LINKER_FLAGS = @$(C74SUPPORT)/max-includes/c74_linker_flags.txt


// hide all symbols by default
// mark a function to be exported with the C74_EXPORT macro -- most likely this will only apply to the main() function
OTHER_CFLAGS = -fvisibility=hidden
